<% if !current_user.nil? %>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <%= render 'posts/post_form' %>
      <div id="feed_container">
        <%= render partial: "posts/post", collection: @feed, as: :post %>
      </div>
      <div class="digg_pagination"><%= will_paginate @feed %></div>
    </div>
  </div>

<% else %>
  <div class="center jumbotron">
    <h1>Welcome to Fakebook</h1>

    <h2>
      This is an social networking app with<br>
      core Facebook user functionality</h2>
    <h3>including Friend Requests, Like, Comment, Share and more</h3>
    <br>


    <%= link_to "Login", sign_in_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
