<% if !current_user.nil? %>
<div class="container">
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
      <%= render 'posts/post_form' %>
      <%= render partial: "posts/post", collection: @feed, as: :post %>
    </div>

  </div>
</div>




<% else %>
  <div class="center jumbotron">
    <h1>Welcome to Fakebook</h1>

    <h2>
      This is an social networking app designed to mimic Facebook
    </h2>

    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
