<h1><%= @user.username %></h1>
<%= render 'logged_in_profile_menu' %>

<% @user.posts_with_pic.each do |p| %>
<%= link_to (image_tag p.picture.url, class: "picture_thumbnail"), p %>
<% end %>


<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8 posts">
    <%= render partial: "posts/post", collection: @posts, as: :post %>
  </div>
  <div class="col-sm-2"></div>
</div>
