<% if current_user %>
  <% if post.liked_user_ids.count != 0 %>
    <span class="glyphicon glyphicon-thumbs-up like_counter"></span>
    <%= like_sentence(current_user, post, current_user.friend_ids) %>
  <% end %> 
<% elsif post.liked_user_ids.count > 0 %>
  <span class="glyphicon glyphicon-thumbs-up like_counter"></span>
  <%= post.liked_user_ids.count %>
<% end %>