<div class="like_button_<%= post.id %>">
  <% if current_user %>
      <% if !post.liked_user_ids.include? current_user.id %>
          <% cache [post.id, "like_btn"] do %>
              <span class="glyphicon glyphicon-thumbs-up"></span>
              <%= link_to "Like", likes_path(post_id: post.id), class: "btn", id:"like_submit_button", method: :post, remote: true %>
          <% end %>
      <% else %>
          <% cache [post.id, "unlike-btn"] do %>
              <span class="glyphicon glyphicon-thumbs-up unlike-glyph"></span>
              <%= link_to "Unlike", like_path(id: 1, post_id: post.id), class: "btn", id:"unlike_submit_button", method: :delete, remote: true %>
          <% end %>
      <% end %>
  <% else %>
      <% cache "like_btn_not_login" do %>
          <span class="glyphicon glyphicon-thumbs-up"></span>
          <div class="btn btn-block" id="like_submit_button"><%= link_to "Like", sign_in_path %></div>
      <% end %>
  <% end %>
</div>