<div class="like_button_<%= post.id %>">
  <% if current_user %>
    <% if !post.liked_user_ids.include? current_user.id %>
      <span class="glyphicon glyphicon-thumbs-up"></span>
      <%#= form_for(Like.new, remote: true) do |f| %>
        <%#= hidden_field_tag :post_id, post['id'] %>
        <%#= f.submit "Like", class: "btn btn-block", id:"like_submit_button" %>
      <%# end %>
      <%= link_to "Like", likes_path(post_id: post.id), class: "btn", id:"like_submit_button", method: :post, remote: true %>
    <% else %>
      <span class="glyphicon glyphicon-thumbs-up unlike-glyph"></span>
      <%#= form_for(Like.find_by(post_id: post.id),
                    html: { method: :delete },
                  remote: true) do |f| %> <!-- note: like_path(1) uses 1  only as a stand-in id -->
        <%#=  hidden_field_tag :post_id, post['id'] %>
        <%#= f.submit "Unlike", class: "btn btn-block", id:"unlike_submit_button"  %>
      <%# end %>
      <%= link_to "Unlike", like_path(id: 1, post_id: post.id), class: "btn", id:"unlike_submit_button", method: :delete, remote: true %>
    <% end %>

  <% else %>
      <span class="glyphicon glyphicon-thumbs-up"></span>
      <div class="btn btn-block" id="like_submit_button"><%= link_to "Like", sign_in_path %></div>
  <% end %>
</div>