<% cache "p#{post.id}-foot-unlog"  do %>
<table><tr>
    <td>
        <div class="like_button_<%= post.id %>">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            <div class="btn btn-block" id="like_submit_button"><%= link_to "Like", sign_in_path %></div>
        </div>
    </td>

    <td>
        <div class="expand_comment_button">
            <span class="glyphicon glyphicon-comment"></span> 
            <%= link_to "Comment", sign_in_path, class: "btn" %>
        </div>
    </td>


    <td>
        <div class="share_button">
            <span class="glyphicon glyphicon-share-alt"></span>
            <%= link_to "Share on Facebook", "https://www.facebook.com/sharer/sharer.php?u=warm-plains-72294.herokuapp.com/posts/#{post.id}", html_options= {target: "_blank", class: "btn"} %>
        </div>
    </td>

</tr></table>
<% end %>
