<div class="share_button">
    <span class="glyphicon glyphicon-share-alt"></span>
    <%= link_to "Share on Facebook", "https://www.facebook.com/sharer/sharer.php?u=warm-plains-72294.herokuapp.com/posts/#{post.id}", html_options= {target: "_blank", class: "btn"} %>
</div>