@import "bootstrap-sprockets";
@import "bootstrap";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");


@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-path('glyphicons-halflings-regular.eot');
  src: font-path('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
    font-path('glyphicons-halflings-regular.woff') format('woff'), 
    font-path('glyphicons-halflings-regular.ttf') format('truetype'), 
    font-path('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body { background: #f8f8f8 !important; }


.profile_menu {
  text-align: center;
  width: 100%;
  margin-bottom: 50px;
  clear: both;
}

.profile_menu div {
  float: left;
  width: 20%;

}

.profile_menu a, .profile_menu a:hover {
  display: block;
  height: 50px;
  width: 100%;
  line-height: 50px;
  color: black;
  background-color: transparent;
}

.photos_link {
  font-weight: bold;
}

.username, .username:hover {
  color: black;
  font-weight: bold;
}

.profile_page_friend_button {
  float: right;
}

.profile_page_friend_button p, form {
  display: inline-block;
}

.user_row {
  margin: 10px 0px;
}


.post {
  margin: 10px 0px;
  border: 1px solid #e8e8e8;
}

.posts span {
  display: block;
}

.post-info {
  float: left;
  display: inline;
}

.avatar, .post_user_info {
  float: left;
}

.avatar {
  padding: 10px 10px;
}

.post_user_info {
  padding-top: 20px;
}

.current_user_username {
  padding-top: 25px;
  font-weight: bold;
}

.clear {
  clear: both;
}

.created_at, .updated_at {
  color: grey;
}

.post_content {
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 1.2em;
}


textarea {
  resize: none;
  width: 100%;
}


.new_post_submit_button {
  background-color: grey;
  height: 40px;
  margin-top: -1px;
}


.post_button {
  float: right;
}

.post_edit_button {
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  background-color: white;
}

#post_menu {
  margin-top: 40px;
}

.comment_edit_button {
  position: absolute;
  display: block;
  top: 5px;
  right: 10px;
  background-color: #f6f7f9;
}



#post_nav a, #post_nav a:hover, #post_nav a:active,
#comment_nav a, #comment_nav a:hover, #comment_nav a:active {
  color: black;
  background-color: transparent;
}

.post {
  background-color: white;
}

.post_link {
  display: block;
}


.new_comment_submit_button {
  clear: both;
  float: right;
}

.comment_content, .after_comment {
  float: left;
  font-size: 90%;
  overflow-wrap: break-word;
  word-break: break-all;
}

.after_comment {
  clear: both;
}

.comment {
  clear: both;
}


.new_comment {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.navbar-default .comment .navbar-nav .dropdown .dropdown-toggle  {
    padding-top:0px;
    padding-bottom:0px;
}


.full_width {
  width: 200px;
  overflow: hidden;
}

.edit_comment_button, .delete_comment_button{
  background-color: transparent;
  display: block;
  overflow: hidden;
}

.post_footer {
  border: 1px solid #e8e8e8;
  padding: 0px;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
}

.comment_section {
  border: 1px solid #e8e8e8;
  background-color: #f6f7f9;
  display: inline-block;
  width: 100%;
}

.comment_form {
  padding-top: 0px;
}

.comment_field {
  padding: 10px 10px 0px 10px;
}

.submit_comment_avatar img {
  margin-top: 10px;
  margin-left: 10px;
  padding-bottom: 30px;
}

.comment_box {
  display: inline-block;
}

.comment_avatar {
  float: left;
  width: 40px;
  margin: 0px 10px
}

.submit_comment_avatar {
  width: 40px;
  margin-right: 10px;
}


.avatar_thumb {
  width: 100%;
  max-width: 100%;
}

.comment_space {
  float: left;
  padding-top: 5px;
  display: inline-block;
}

.comment_content {
  display: inline-block;
  width: 100%;
  overflow-wrap: break-word;
  word-break: break-all;
}

.comment table {
 width: 100%;
}

.comment table td {
  vertical-align: top;
}

#comment_nav a{
  padding-top: 0px;
}

.comment_nav {
  float: right;
  height: 30px;
  width: 30px;
  display: inline-block;
  margin-top: 0px;
  align: right;
}

.expand_comment_button, .share_button {
  float: left;
  padding-left: 20px;
  padding-bottom: 5px;
}

.expand_comment_button a, .expand_comment_button a:hover,
.share_button a, .share_button a:hover {
  font-weight: bold;
  text-align: center;
  color: black;
  line-height: 20px;
  font-family: "Helvetica Neue", Helvetica,Arial, sans-serif;
}

.like_button, .unlike_button {
  display: inline;
  float:left;
}

#like_submit_button, #unlike_submit_button, 
#like_submit_button a,  #unlike_submit_button a {
  background-color: transparent;
  font-weight: bold;
  padding-left: 15px;
  color: black;
}

#unlike_submit_button {
  color: #3b5998;
}

#like_submit_button:hover, #unlike_submit_button:hover {
  text-decoration: underline;
}

.glyphicon-thumbs-up {
  float: left;
  padding-top: 10px;
}

.unlike-glyph {
  color: #3b5998;
}

.like_counts {
  padding-top: 5px;
  padding-left: 5px;
}

.like_counter {
  padding-left: 2px;
  padding-top: 2px;
  color: white;
  background-color: #3b5998;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.upload_file {
  display: inline;
}

.picture {
  max-width: 100%;
  width: 100%;
  padding-bottom: 10px;

}

.thumbnails {
  width: 33.3%;
  padding-bottom: 10px;
  padding-right: 10px;
  float: left;
}


.profile_name_avatar, .profile_name_avatar h1 {
  display: inline;
  white-space:nowrap
}

.test {
  width: 90%;
}

.friend_request_avatar img {
  padding-right: 10px;
}

.digg_pagination {
  text-align: center;
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
/*  color: #999999;
    border: 1px solid #dddddd; */
    display: none;}
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }
